html { 
    background: url("http://wallpaperrs.com/uploads/nature/clear-sky-wide-wallpaper-35818.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    min-height:100%;
}

body {
    color: white;
    background-color: transparent;
    text-align: center;
}

h1 {
    font-size: 4.0em; /* 40px/16=2.5em */
}

h2 {
    font-size: 2.0em; /* 30px/16=1.875em */
}

#city {
    color: #3498db;
}

#country {
    color: #3498db;
}

.footer{
 position:fixed;
 bottom:20px;
 right: 20px;
}
