html { 
  background: url("http://wallpaperrs.com/uploads/nature/clear-sky-wide-wallpaper-35818.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto auto;  
}

body {
    color: white;
    background-color: transparent;
    text-align: center;
}

#city {
    color: #3498db;
}

#country {
    color: #3498db;
}

footer{
 position:fixed;
 bottom:20px;
 right: 20px;
}